@model ProductsListViewModel

@foreach (var product in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", product)
}

@*<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>                 
        <th>                  
            @Html.DisplayName("Price")
        </th>                 
        <th>                  
            @Html.DisplayName("Category")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
        </tr>
    }
    </tbody>
</table>*@

<div page-model="@Model.PagingInfo" page-action="List" class="btn-group m-1" 
     page-class-enabled="true" page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"></div>